name: Build SM-M556B Kernel

on:
  push:
    tags:
      - 'v*'           # dispara quando criar uma tag tipo v14.0
  workflow_dispatch:    # permite rodar manualmente na aba Actions

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ARCH: arm64
      O: out

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup environment
      run: |
        sudo apt update
        sudo apt install -y bc build-essential libncurses5-dev flex bison zip curl wget

    - name: Setup Clang stock
      run: |
        export PATH=$PWD/Kernel/kernel_platform/prebuilts-master/clang/host/linux-x86/clang-r547379/bin:$PATH
        export CROSS_COMPILE=aarch64-linux-gnu-
        export ARCH=arm64
        export O=out
        echo "Clang path configured"

    - name: Build Kernel
      run: |
        make O=$O gki_defconfig
        make -j$(nproc) O=$O

    - name: Package Kernel
      run: |
        zip -r SM-M556B_14_KERNEL_${GITHUB_REF##*/}.zip $O

    - name: Publish Release
      uses: softprops/action-gh-release@v1
      with:
        files: SM-M556B_14_KERNEL_${GITHUB_REF##*/}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
